body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-top: 20px;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
    box-shadow: 10px 10px 5px rgb(58, 80, 69);
}

#random {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 100%);
    position: relative;
    display: inline-block;

}